body {
    background: rgba(220, 220, 220, 0.5);
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background: url('../images/money.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Desktop screen */

@media(min-width: 760px) {

    a{
        text-decoration: none;
        color: #000;
    }

    .main-container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        height: auto;
        overflow: hidden;
    }

    .header{
        display: flex;
        background: #fff;
        grid-column: span 13;
        grid-row: 1;
        height: 60px;
        position: sticky;
        border-bottom: 1px solid #DBE0E4;
        box-shadow: 0 14px 18px rgba(0,0,0,0.10);
    }


    .header .logo {
        display: flex;
        width: 11%;
        height: inherit;

    } 
    .header i{
        margin: 20px;
        font-size: 25px;    

    } 

    .register-buttons{
        margin-left: 63%;
        justify-content: space-between;
        width: 20%;
        font-family: 'Ubuntu', sans-serif;

    }

    .register-buttons a button{
        
        cursor: pointer;
        margin: 19px auto;
        padding: 6px;
        width: 100px;
        border: none;
        background:#b8860b;
        font-size: 15px;
        border-radius: 5px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.20);
    }

    #adminLogin{
        position: absolute;
        margin-top: -15px;
        margin-left: 10px;
        height: 78px;

    }

    #adminLogin:hover{
        color: #b8860b;
    }

    #adminLogin i{
        margin-top: 30px;
        display: flex;
    }


    #adminLogin p{
        margin-top: 0;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        margin-top: 11px;
        padding: 2px;

    }



    .register-buttons .signup-btn {
        margin-right: 30px;
    }

    #banka{
        color: #b8860b;
        margin: 0;
    }
    .content-container{
        grid-column:  3/11;
        grid-row: 2/6;   
    }
    .content-container h2 {
        text-align: center;
        margin: 200px  0px auto;
        border: 2px solid black;
        padding: 15px;
        background: #000; 
        color: #fff;
        border-radius: 6px;
    }

    .start-btn {
        text-align: center;
        margin: 50px auto;
        width: 17%;
        height: 80px;
        cursor: pointer;
        background: #b8860b;
        border-radius: 6px;
    }

    .start-btn i{
        margin-top: 12px;
        margin-bottom: 0px;
       font-size: 23px;
    }

    .footer{
        grid-column: span 13;
        grid-row: 6;
    }

    .footer p{
        margin-top: 100px;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        color: #000;
    }

    .footer p:hover{
        color: #b8860b;
    }
}



/* Ipads screen */


@media (min-width: 500px){

    a{
        text-decoration: none;
        color: #000;
    }

    .main-container {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        height: auto;
        overflow: hidden;
    }

    .header{
        display: flex;
        background: #fff;
        grid-column: span 13;
        grid-row: 1;
        height: 60px;
        position: sticky;
        border-bottom: 1px solid #DBE0E4;
        box-shadow: 0 14px 18px rgba(0,0,0,0.10);
    }


    .header .logo {
        display: flex;
        width: 11%;
        height: inherit;

    } 
    .header i{
        margin: 20px;
        font-size: 25px;    

    } 

    .register-buttons{
        margin-left: 63%;
        justify-content: space-between;
        width: 20%;
        font-family: 'Ubuntu', sans-serif;

    }

    .register-buttons a button{
        
        cursor: pointer;
        margin: 19px auto;
        padding: 6px;
        width: 100px;
        border: none;
        background:#b8860b;
        font-size: 15px;
        border-radius: 5px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.20);
    }

    #adminLogin{
        position: absolute;
        margin-top: -15px;
        margin-left: 10px;
        height: 78px;

    }

    #adminLogin:hover{
        color: #b8860b;
    }

    #adminLogin i{
        margin-top: 30px;
        display: flex;
    }


    #adminLogin p{
        margin-top: 0;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        margin-top: 11px;
        padding: 2px;

    }



    .register-buttons .signup-btn {
        margin-right: 30px;
    }

    #banka{
        color: #b8860b;
        margin: 0;
    }
    .content-container{
        grid-column:  3/11;
        grid-row: 2/6;   
    }
    .content-container h2 {
        text-align: center;
        margin: 200px  0px auto;
        border: 2px solid black;
        padding: 15px;
        background: #000; 
        color: #fff;
        border-radius: 6px;
    }

    .start-btn {
        text-align: center;
        margin: 50px auto;
        width: 17%;
        height: 80px;
        cursor: pointer;
        background: #b8860b;
        border-radius: 6px;
    }

    .start-btn i{
        margin-top: 12px;
        margin-bottom: 0px;
       font-size: 23px;
    }

    .footer{
        grid-column: span 13;
        grid-row: 6;
    }

    .footer p{
        margin-top: 100px;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        color: #000;
    }

    .footer p:hover{
        color: #b8860b;
    }

}

@media(max-width: 700px){
    a{
        text-decoration: none;
        color: #000;
    }

    .main-container {
        background: url('../images/money.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 670px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        height: auto;
        overflow: hidden;
    }

    .header{
        display: flex;
        background: #fff;
        grid-column: span 13;
        grid-row: 1;
        height: 60px;
        position: sticky;
        border-bottom: 1px solid #DBE0E4;
        box-shadow: 0 14px 18px rgba(0,0,0,0.10);
    }

    .header .logo {
        display: flex;
        width: 11%;
        height: inherit;

    } 
    .header i{
        margin: 20px;
        font-size: 25px; 

    } 

    .register-buttons{
        display: flex;
        margin-top: 10px;
        margin-left: 30%;
        justify-content: space-between;
        width: 20%;
        font-family: 'Ubuntu', sans-serif;


    }

    .register-buttons a button{
        
        cursor: pointer;
        margin: 8px auto;
        padding: 6px;
        width: 70px;
        border: none;
        background:#b8860b;
        font-size: 15px;
        border-radius: 5px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.20);

    }

    .register-buttons .signup-btn {
        margin-right: 20px;
    }

    #banka{
        color: #b8860b;
        margin: 0;
    }

    #adminLogin{
        position: absolute;
        margin-top: -17px;
        margin-left: 150px;
        height: 78px;

    }

    #adminLogin:hover{
        color: #b8860b;
    }

    #adminLogin i{
        margin-top: 22px;
        display: flex;
    }


    #adminLogin p{
        margin-top: 0;
        font-family: 'Ubuntu', sans-serif;
        font-size: 15px;
        margin-top: 11px;
        padding: 2px;

    }

    .content-container{
        grid-column: span 13;
        grid-row: 3/5;
    }
    .content-container h2 {
        text-align: center;
        margin: 200px auto;
        word-wrap: break-word;
        padding: 15px;
        background: #000; 
        color: #fff;
        border-radius: 6px;

    }

    .start-btn {
        text-align: center;
        margin: 50px auto;
        width: 30%;
        height: 80px;
        cursor: pointer;
        background: #b8860b;
        border-radius: 6px;
    }

    .start-btn i{
        margin-top: 12px;
        margin-bottom: 0px;
       font-size: 23px;
    }

    .footer{
        grid-column: span 13;
        grid-row: 6;
    }

    .footer p{
        margin-top: 100px;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        color: #000;
    }

    .footer p:hover{
        color: #b8860b;
    }
}