body {
    background: rgba(220, 220, 220, 0.5);
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

@media(min-width: 760px) {

    a{
        text-decoration: none;
        color: #000;
    }

    .main-container {
        background: url('../images/money.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 670px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        height: auto;
        overflow: hidden;
    }

    .header{
        display: flex;
        background: #fff;
        grid-column: span 13;
        grid-row: 1;
        height: 60px;
        position: sticky;
        border-bottom: 1px solid #DBE0E4;
        box-shadow: 0 14px 18px rgba(0,0,0,0.10);
    }


    .header .logo {
        display: flex;
        width: 11%;
        height: inherit;

    } 
    .header i{
        margin: 20px;
        font-size: 25px;    

    } 

    .register-buttons{
        margin-left: 70%;
        justify-content: space-between;
        width: 20%;
        font-family: 'Ubuntu', sans-serif;

    }

    .register-buttons a button{
        
        cursor: pointer;
        margin: 19px auto;
        padding: 6px;
        width: 100px;
        border: none;
        background:#b8860b;
        font-size: 15px;
        border-radius: 5px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.20);
       
    }

    .register-buttons .signup-btn {
        margin-right: 30px;
    }

    #banka{
        color: #b8860b;
        margin: 0;
    }
    .content-container{
        grid-column: span 13;
        grid-row: 2/6;
    }
    .content-container h2 {
        text-align: center;
        margin: 200px auto;
    }
    .footer{
        grid-column: span 13;
        grid-row: 6;
    }

    .footer p{
        margin-top: 100px;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        color: #000;
    }

    .footer p:hover{
        color: #b8860b;
    }
}


@media(max-width: 700px){
    a{
        text-decoration: none;
        color: #000;
    }

    .main-container {
        background: url('../images/money.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 670px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        height: auto;
        overflow: hidden;
    }

    .header{
        display: flex;
        background: #fff;
        grid-column: span 13;
        grid-row: 1;
        height: 60px;
        position: sticky;
        border-bottom: 1px solid #DBE0E4;
        box-shadow: 0 14px 18px rgba(0,0,0,0.10);
    }

    .header .logo {
        display: flex;
        width: 11%;
        height: inherit;

    } 
    .header i{
        margin: 20px;
        font-size: 25px; 

    } 

    .register-buttons{
        display: flex;
        margin-top: 10px;
        margin-left: 42%;
        justify-content: space-between;
        width: 20%;
        font-family: 'Ubuntu', sans-serif;

    }

    .register-buttons a button{
        
        cursor: pointer;
        margin: 8px auto;
        padding: 6px;
        width: 100px;
        border: none;
        background:#b8860b;
        font-size: 15px;
        border-radius: 5px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.20);
    }

    .register-buttons .signup-btn {
        margin-right: 20px;
    }

    #banka{
        color: #b8860b;
        margin: 0;
    }

    .content-container{
        grid-column: span 13;
        grid-row: 2/6;
    }
    .content-container h2 {
        text-align: center;
        margin: 200px auto;
        word-wrap: break-word;
    }
    .footer{
        grid-column: span 13;
        grid-row: 6;
    }

    .footer p{
        margin-top: 100px;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        color: #000;
    }

    .footer p:hover{
        color: #b8860b;
    }
}